<div class="row">
    <div class="col-xs-3">
       <div class="panel panel-default">
            <div class="panel-body">
                <p>Your feed</p>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <p> Stats </p>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p> About </p>
            </div>
        </div>
    </div>

<!-- We start now with second row> -->
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>About</p>
            </div>
        </div>
    </div>
</div>