<% if !user_signed_in? #if the user is not signed in ,we will render this %> 
    <style>
        body{
            background: url("/landscape.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .container-index
    </style>

    <div class="container">
        <div class="jumbotron">
            <h1>Hi, friend!</h1>
            <p>Railsfy helps you to communicate with your friends!</p>
            <p><a class="btn btn-primary btn-lg" href="/users/sign_in" role="button">Sign In</a></p>
            <p><a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Sign Up</a></p>

        </div>
    </div>
<% else%>
    <script> document.location="/home"</script>
<%end%>