<% if !user_signed_in? #if the user is not signed in ,we will render this %> 
    <style>
        body{
            background: url("/landscape.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .container-index
    </style>

    <div class="container">
        <h1> Railsfy helps you to communicate with your friends! </h1>
        <br><br>
        <div class="col-sm-2" style="text-align: right; margin-top: 5px;"><a href="/users/sign_in"><li type="button" class="btn btn-default" style="color: black; opacity: 1; font-weight: bold;">SIGN IN</li></a></div>
        <div class="col-sm-2" style="text-align: right; margin-top: 5px;"><a href="/users/sign_up"><li type="button" class="btn btn-default" style="color: black; opacity: 1; font-weight: bold;">SIGN UP</li></a></div>

    </div>
<% else%>
    <script> document.location="/home"</script>
<%end%>